<!DOCTYPE html>
<html>
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
          <div class="rect">
                <h3>Welcome!</h3>
                <br>
                <hr>
                <div class="admin">
                        <a href="/add_user"><button class="btn">Add User</button></a><br>
                        <a href="/assign_task"><button class="btn">Assign Task</button></a><br>
                        <a href="/download_excel_file"><button class="btn">Export to Excel File</button></a>
                </div> 
               

          </div>
    </div>
    
     
  </body>
</html>
